@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik+Mono+One');
/*TAGS*/
html {
	height: 100%;
	overflow:auto;
}

body {
	display:flex;
	flex-direction: column;
	margin:0;
	background-color: #6C8992;
	height: 100%;
}

h1 {
	margin: 0;
	text-align: left;
	font-size: 75px;
	font-family: 'Roboto', sans-serif;
	color:#2AD941;
	text-shadow: 2px 2px #000000;
	font-weight: bold;
}

g rect {
	background-color: #1F526F;
}

span {
	font-size: 1em;
}

a {
	color: #0f0;
}

form {
	display:flex;
	align-items: center;
}

em button {
	background-color: #4CAF50;
	color: white;
	padding: 20px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=text], input[type=email], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

fieldset {
	border-color: chartreuse;
}

table {
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	width: 640px;
	border-collapse:
	collapse; border-spacing: 0;
}

td, th {
	border: 1px solid transparent; /* No more visible border */
	height: 30px;
	transition: all 0.3s; /* Simple transition for hover effect */
}

th {
	font-size: 25px;
	background: #E0510C; /* Darken header a bit */
	font-weight: bold;
}

td {
	background: #808080;
	text-align: center;
	font-weight: bold;
}
/*ID*/
#chartdiv {
	background-color: #1F526F;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:250px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

/*CLASSES*/
.welcome_message {
	margin: 20%;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #2AD941;
    text-shadow: 2px 2px #000000;
}

.header a {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	font-size: 22px;
	color:#2AD941;
	text-shadow: 2px 2px #000000;
}

.container a {
	font-size: 30px;
	color: #9ACD32;
}

.container h1 {
	font-family: Courier New, Courier, monospace;
	color: #9ACD32;
	text-shadow: 4px 4px #000;
}

.q {
	display:flex;
	justify-content: space-between;
}

.btn {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.header_right a:hover {
	font-size: 30px;
	border: dashed;
	border-color: #cccccc;
}

.p_about {
	font-family: Verdana;
	font-size: 20px;
	font-weight: bold;
	color: #A05620;
	text-shadow: 2px 2px #000;
}

.header {
	margin: 0;
	display:flex;
	min-height: 10%;
	max-height: 10%;
	background-color: #173D53;
	animation-name: colorchange;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	overflow: hidden;
}

.header_left {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	flex:1 0 100px;
}

.header_right {
	display:flex;
	align-items: center;	
	flex:1 0 100px;
	justify-content: space-around;
}

.header_right a {
	animation-name: a_animation;
	animation-duration: 1s;
}
.container {
    display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	background-color: #1F526F;/*#5F7C8A;*/
}

.error {
	color: #FF0000;
}
/*PHONE*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav {
		width:100%;
	}
	.nav-item {
		width:100%;
		float:none;
	}

/*ANIMATIONS*/
@keyframes colorchange {
	from {background-color: #173D53;}
	to {background-color: #152434;}
}

/*@keyframes a_animation {
	from {
		right: 2000px;
		position: relative;
		transform: rotate(0deg);
	}
	to {
		right: 0;
		position: relative;
		transform: rotate(360deg);
	}
}*/
}

