body {
	display:flex;
	flex-direction: column;
	margin:0;
	background-color: #6C8992;
	width: 100%;
	min-height: 100vh;
}

h1 {
	margin: 0;
	text-align: left;
	font-size: 55px;
	font-family: Impact, Charcoal, sans-serif;
	color:#2AD941;
	text-shadow: 2px 2px #000000;
}

a {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 22px;
	color:#2AD941; 
}

.header {
	margin: 0;
	display:flex;
}

.header_left {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	flex:1 0 100px;
	background-color: #173D53;
}

.header_right {
	display:flex;
	align-items: center;	
	flex:0.05 0 100px;
	background-color: #173D53;
	justify-content: center;
}

.container {
	flex:1;
	background-color: #1F526F;/*#5F7C8A;*/
}

.footer {
	margin: 0;
	display:flex;
	justify-content: center;
	background-color: #173D53;
}

.footerText {
	color:#2AD941;
	font-size: 16px;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 2px 2px #000000;
}