body{
	background-color:#6C8992;
}

h1 {
	text-align: left;
	margin-top: 0px;
	font-size: 63px;
	font-family: Roboto,sans-serif;
	color:#2AD941;
	text-shadow: 2px 2px #000000;
}

.header {
	background-color:#4C4C4C;
}
